.side-bar
  .side-bar__user-name
    .top-items
      .top-items__top-name
        = current_user.name
      .top-items__top-icons
        = link_to "#", class: "top-items__top-icons--white" do
          = icon('far', 'edit')
        %span<>
        = link_to edit_user_path(current_user), class: "top-items__top-icons--white" do
          = icon('fa', 'cog')
  .side-bar__group-list
    .side-bar__group-list__group-name
      techexpert
    .side-bar__group-list__group-message
      まだメッセージがありません。